%div#page
    %table#croons
        %thead
            %th Play
            %th Song Title
            %th Star
            %th Votes
        %tbody
            %td= link_to :listen, :action => :listen, :id => 1
            %td My Title
            %td Chris Conley
            %td 22